@using AccentureProyectoIntegrador.Models
@model Libros

@{
    ViewBag.Title = "Agregar";
}

@{
    AccentureProyectoIntegradorEntities db = new AccentureProyectoIntegradorEntities();
    List<Autores> autores = db.Autores.OrderBy(au => au.NombreAutor).ToList();
    List<Editoriales> editoriales = db.Editoriales.ToList();
    List<Generos> generos = db.Generos.ToList();
}

<script>
    function nuevoAutor() {
        var lista = document.getElementById("Autores");
        var select = lista.firstElementChild;
        var copiaSelect = select.cloneNode(true);
        copiaSelect.selectedIndex = 0;
        lista.appendChild(copiaSelect);
    }
</script>

<main class="container">
    <h1> @this.ViewBag.TituloPagina </h1>


    <form method="post">
        Nombre Libro:
        <input type="text" name="Titulo" value="@this.Model.Titulo" class="form-control" required maxlength="50" placeholder="Ingrese nombre libro" />
        ISBN:
        <input type="text" name="ISBN" value="@this.Model.ISBN" class="form-control" required maxlength="200" placeholder="Ingrese ISBN" />
        Sinopsis:
        <input type="text" name="Sinopsis" value="@this.Model.Sinopsis" class="form-control" required maxlength="200" placeholder="Ingrese Sinopsis" />

        @Html.HiddenFor(model => this.Model.IdLibro)
        <div id="Autores">
        Autores:
        @foreach (var aut in this.Model.Autores)
        {
        <select required name="autores" class="form-control">

            <option selected="selected" value="@aut.IdAutor">@aut.NombreAutor  </option>
            @foreach (var autor in autores)
            {
                if (aut.NombreAutor != autor.NombreAutor)
                {
                    <option value="@autor.IdAutor">@autor.NombreAutor</option>
                }

            }
        </select>
        }


        </div>

        <div class="text-right">
            <a onclick="nuevoAutor()" class="btn">Agregar autor</a>
        </div>

        <div>Editorial:</div>
        <select required name="editoriales" class="form-control">
            @foreach (var edi in editoriales)
            {
                if (edi == this.Model.Editoriales)
                {
                    <option selected="selected" value="@edi.IdEditorial">@edi.NombreEditorial</option>
                }
                else
                {
                    <option value="@edi.IdEditorial">@edi.NombreEditorial</option>
                }
            }
        </select>


        <div>Genero:</div>
        <select required name="generos" class="form-control">
            @foreach (var gen in generos)
            {
                if (gen == this.Model.Generos)
                {
                    <option selected="selected" value="@gen.IdGenero">@gen.NombreGenero</option>
                }
                else
                {
                    <option value="@gen.IdGenero">@gen.NombreGenero</option>
                }
            }

        </select>

        <button class="btn btn-primary form-control" style="margin-top:1em">
            Enviar
        </button>

    </form>

</main>


