@using AccentureProyectoIntegrador.Models
@model IEnumerable<Libros>

@{
    ViewBag.Title = "Listar";
}

@{
    AccentureProyectoIntegradorEntities db = new AccentureProyectoIntegradorEntities();
}
<div class="text-right">
    @Html.ActionLink(" ", "Agregar", null,
        new
            {
            @class = "glyphicon glyphicon-plus",
            style = "font-size:1.5em"
        })
</div>

@using (Html.BeginForm())
{
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input name="FiltroTitulo" type="text" class="form-control" />
                </td>
                <td>
                    <select class="form-control" name="FiltroAutor">
                        <option>Seleccione un autor...</option>
                        @foreach (Autores autor in db.Autores.ToList())
                        {
                            <option value="@autor.IdAutor">@autor.NombreAutor</option>
                        }
                    </select>
                </td>
                <td class="text-right">
                    <button class="glyphicon glyphicon-search btn btn-primary"></button>
                </td>
            </tr>
            @foreach (Libros libro in this.Model)
            {
                <tr>
                    <td>@libro.Titulo</td>
                    <td>
                        @foreach (Autores autor in libro.Autores)
                        {
                            <div>@autor.NombreAutor</div>
                        }
                    </td>
                    <td class="text-right">
                        @Html.ActionLink(" ", "Editar", new { Id = libro.IdLibro },
                        new
                        {
                            @class = "glyphicon glyphicon-pencil",
                            style = "font-size:1.5em"
                        })

                        &nbsp &nbsp &nbsp
                        @Html.ActionLink(" ", "Eliminar", new { Id = libro.IdLibro },
                        new
                        {
                            @class = "glyphicon glyphicon-trash",
                            style = "font-size:1.5em"
                        })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}